.containerHeader {
    width: 100%;
    background-color: white;
    height: 8vh;
    border-color: black;
    border-bottom: 1px solid rgb(3, 3, 3);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
}

.body {
    margin: none;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none;
}

.link {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.Header {
    margin-right: 10rem;
    text-align: center;
    font-weight: 10rem;
}

.logo {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-style: normal;
}

.nav {
    display: flex;
    margin-right: 10rem;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
}

.Container-space {
    position: relative;
    padding: 10px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    border-radius: 5px;
}

.nav li {
    margin-right: 30px;
    display: flex;
}